
.wrapper{
    height: 100%;
}

/*MOBILE*/
.header-mobile-style{

}

.main-mobile-style{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.footer-mobile-style{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}
/*///////*/
/*DESKTOP*/
.header-desktop-style{
    height: 5hv;
}

.main-desktop-style{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    height: 85vh;
}

.footer-desktop-style{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
/*///////*/
.child{
    margin: 20px 0px;
}